[Unit]
Description=Asionyx Deployment Service
After=network.target

[Service]
WorkingDirectory=/opt/deployment-service
ExecStart=/opt/deployment-service/Asionyx.Tools.Deployment
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
